<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>International Flowers</h1>
        <nav>
            <a href="/index">FLOWERS</a>
            <a href="/buy">BUY</a>
            <a href="/orders">ORDERS</a>
        </nav>
    </header>

    <form>
        <h2>I am shopping from <input type="text" value="USA" size="15"><input type="submit" value="GO"></h2>
    </form>

    <table id="flowers">
        <tr>
            <td><img src="./Flowers/goldenWattle.jpg">
                <h3>Australian Golden Wattle<strong><%- gwPrice %></strong></h3>
                <em>a bright, fragrant shrub with fluffy yellow blossoms and 
                    slender green leaves, celebrated as Australia’s national 
                    floral emblem for its resilience and vibrant seasonal display</em>
            </td>
            <td><img src="./Flowers/iris.jpg">
                <h3>French Iris<strong><%- irisPrice %></strong></h3>
                <em>a tall, elegant perennial known for its ruffled, 
                    vividly colored blooms that symbolize wisdom and 
                    cherished friendship in French floral tradition</em>
            </td>
            <td><img src="./Flowers/lotus.jpg">
                <h3>Indian Lotus<strong><%- lotusPrice %></strong></h3>
                <em>a sacred aquatic flower revered for its serene pink 
                    petals and symbolic association with purity, 
                    spiritual awakening, and resilience</em>
            </td>
        </tr>
        <tr>
            <td><img src="./Flowers/cherryBlossom.jpg">
                <h3>Japanese Cherry Blossom<strong><%- cbPrice %></strong></h3>
                <em>also known as Sakura, a delicate pink flower celebrated 
                    across Japan as a symbol of fleeting beauty, renewal, 
                    and the transience of life</em>
            </td>
            <td><img src="./Flowers/jasmine.jpg">
                <h3>Tunisian Jasmine<strong><%- jasminePrice %></strong></h3>
                <em>a sweetly fragrant white blossom cherished as a national 
                    symbol of purity, hospitality, and peaceful optimism in 
                    Tunisian culture</em>
            </td>
            <td><img src="./Flowers/sunflower.jpg">
                <h3>Ukranian Sunflower<strong><%- sunflowerPrice %></strong></h3>
                <em>a vibrant national emblem of warmth, resilience, and hope, 
                    widely grown across the country and symbolizing its 
                    people’s enduring spirit</em>
            </td>
        </tr>
    </table>

</body>

</html>
